@import 'partials/setup';
@import 'partials/variables';
@import 'partials/mixins';

html {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	font-family: $fontPrimary;
	color: $colorGrey;
}

main {
	background-image: url("../../assets/i-m-priscilla-110829-sm.jpg");
	background-repeat: no-repeat;
	background-position: cover;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	position: relative;
}

header {
	text-align: center;
}

h1 {
	font-weight: 700;
	font-size: 9.4rem;
	margin: 30px;
}

h2 {
	font-weight: 700;
	font-size: 3.6rem;
	margin: 40px 15px 20px 15px;
	transition: all 1s ease-in-out;
}

p {
	font-size: 1.6rem;
}

a {
	@include linkStyles;
}

.wrapper {
	width: 80vw;
	height: auto;
	padding: 0 50px;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: rgba(255,250,250, 0.5);
}

.buttons {
	display: flex;
	justify-content: center;
}

.singleButton,
.resetButton,
.copyButton {
	@include buttonStyles;
	transition: all 1s ease-in-out;
	p {
		font-size: 1.4rem;
		margin: 0;
	}
	&:hover {
		background: rgba(60,60,60, 0.5);
		transition: all 0.3s ease-in-out;
	}
}

.clicked {
	pointer-events: none;
}

.fadeOut {
	opacity: 0;
}

.fadeIn {
	opacity: 1;
}

.displayIpsum {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: $fontSecondary;
	color: $colorGrey;
	line-height: 2.3rem;
	overflow: auto;
	transition: all 1s ease-in-out;
	width: 85%;
}

.completeParagraph {
	margin: 0;
}

.slideUp {
	transform: translate(0,-190px);
}

.hidden {
	opacity: 0;
}

.completeParagraph {
	padding: 30px;
}
