@mixin buttonStyles {
	font-family: $fontSecondary;
	border: 2px solid rgb(105,105,105);
	min-width: 200px;
	min-height: 50px;
	text-align: center;
	margin: 30px 15px;
}

@mixin linkStyles {
	text-decoration: none;
	font-family: $fontPrimary;
	color: black;
	&:visited {
		color: black;
	}
	&:hover {
		color: red;
	}
	&:active {
		color: red;
	}
}

// media breakpoints

@mixin bp($size) {
	@if ($size == 'sml') {
		@media (max-width: 570px) { 
			@content; 
		}
	}

	@if ($size == 'med') {
		@media (max-width: 680px) { 
			@content; 
		}
	}
 
	@if $size == 'lrg' {
		@media (max-width: 750px) { 
			@content; 
		}
	}
}
