@mixin buttonStyles {
	font-family: $fontSecondary;
	border: 2px solid rgb(105,105,105);
	min-width: 200px;
	min-height: 50px;
	text-align: center;
	margin: 30px 15px;
	padding: 15px;
	@include bp(lrg) {
		width: 400px;
		@include bp(sml) {
			width: 100%;
		}
	}
}

@mixin linkStyles {
	text-decoration: none;
	font-family: $fontPrimary;
	color: $colorGrey;
	&:visited {
		color: $colorGrey;
	}
	&:hover {
		color: red;
	}
	&:active {
		color: red;
	}
}

// media breakpoints

@mixin bp($size) {
	@if ($size == 'sml') {
		@media (max-width: 528px) { 
			@content; 
		}
	}

	@if ($size == 'med') {
		@media (max-width: 770px) { 
			@content; 
		}
	}
 
	@if $size == 'lrg' {
		@media (max-width: 874px) { 
			@content; 
		}
	}
}
