$fontPrimary: 'Lato', sans-serif;
$fontSecondary: 'Merriweather', serif;

$colorGrey: rgb(60,60,60);

// $colorDk: #0F4E84;
// $colorMd: #D9F0F5;
// $colorLt: #F0F9FE;

$sml: ( max: 528px );
$med: ( max: 770px );
$lrg: ( max: 874px );
